@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #222222;
  position: relative;
  background: rgb(14, 12, 20);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

* {
  outline: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.borderGradient {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.purpleDot {
  background: radial-gradient(79.4% 100% at 25.1% 100%, #d261ff 0%, rgba(210, 97, 255, 0) 100%);
  position: absolute;
}

.skyDot {
  background: radial-gradient(57.3% 100% at 76.2% 100%, #00a6ff 0%, rgba(0, 187, 255, 0) 100%);
  position: absolute;
}

.sessionGradient {
  background: linear-gradient(45deg, #0088ff 0%, rgb(0, 204, 255) 100%);
}

.rainbowBorder {
  border-radius: 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
